.banner {
    display: block;
    background: url(/assets/images/paris.jpg) no-repeat scroll;
    background-position: center; /* Center the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    margin: 0 -5px;
    padding: 20px;

    position: absolute;
    top: 2%;
    left: 22%;
    height: 117px;
    width: 61px;
}



