.card {
    width: 33.3333%;
    height: 25vw;
    position: relative;
    overflow: hidden;

    &:hover .card-overlay {
        left: 0;
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: -100%;
        background-color: rgba(color(primary), .6);
        color: color(white);
        z-index: 10;
        @include flexLayout;
        flex-direction: column;
        @extend %fullSpace;
        transition: left .7s;

        &-heading {
            font-family: 'Alice';
            font-size: 50px;
            @include textStyles(capitalize);

        }

        &-paragraph {
            font-family: 'Alice';
            font-size: 30px;
            margin-bottom: 30px;

            @include textStyles(capitalize);

        }

        &-btn {
            width: 150px;
            height: 40px;
            color: color(primary);
            background-color: color(white);
            font-family: 'Alice';
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid color(primary);
            border-radius: 30px;
            outline: none;
            cursor: pointer;

        }
    }

    &-img {
        @extend %fullSpace;
        object-fit: cover;
        opacity: .5;
    }
}