.heading {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    &-text {
        font-family: 'Great Vibes', cursive;
        font-size: size(xl) * 2;
        font-weight: lighter;
        letter-spacing: 0.5rem;
    }
}