.heading {

    .main-heading {
        font-family: 'selimaregular';
        color: color(white);
        font-size: size(xxxl);
        font-weight: normal;
        letter-spacing: 0.5rem;
    }

    .sub-heading {
        font-family: 'Alice';
        color: color(white);
        font-size: size(sm);
        font-weight: normal;
        text-align: center;
    }
}