.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) repeat(6, minmax(min-content, 16rem)) minmax(10rem, 1fr);
    grid-template-rows: repeat(1, min-content);
    grid-gap: 2rem;
    //background: color(lightpink);
    position: sticky;
    top: 0;
    z-index: 300;
    //opacity: 0.5;

    .first-nav {
        grid-column: 2 / 8;
        grid-row: 1 / 2;

        &-list {
            align-items: center;
            display: flex;
            justify-content: space-around;
            height: 100%;
            padding: 2rem;
        }

        &-item {
            list-style: none;
        }

        &-link {
            font-family: 'Alice';
            font-weight: bold;
            color: color(white);
            text-decoration: none;
            font-size: size(sm);
            transition: all .3s;

            &:hover {
                color: color(primary);
            }
        }
    }
}