.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) repeat(6, minmax(min-content, 16rem)) minmax(10rem, 1fr);
    grid-template-rows: repeat(1, min-content);
    grid-gap: 2rem;
    //background: color(lightpink);
    position: sticky;
    top: 0;
    z-index: 300;
}