.first-nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: #FFDAB9;
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) repeat(6, minmax(min-content, 16rem)) minmax(10rem, 1fr);
    grid-template-rows: repeat(1, min-content);

    @include navigation;

    &-list {
        grid-column: 2 / 8;
        grid-row: 1 / 2;
        height: 40%;

    }
}