@()

<div class="footer">
    <div class="footer-social-media">
        <ul class="social-media">
            <li class="social-media-item">
                <a class="social-media-link" href="https://www.instagram.com/odoublely/" target="_blank">
                    <i class="fab fa-instagram"></i></a>
            </li>
            <li class="social-media-item">
                <a href="#" class="social-media-link"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="social-media-item">
                <a href="#" class="social-media-link"><i class="fab fa-youtube"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright">
        <p class="footer-copyright-paragraph"> &copy; Copyright. Love Me Paris. All Rights Reserved</p>
    </div>
</div>