@()

<div class="menu">
        <ul class="heading">
            <li class="item"><a class="link" href="#about-us">Aboutus</a></li>
            <li class="item"><a class="link" href="#">Shopping</a></li>
            <li class="item"><a class="link" href="#">Comission</a></li>
        </ul>
</div>
<div class="brand">
    <a href="#" class="logo">
    </a>
    <div>
        <h1 class="main-name">Love Me Paris</h1>
        <p class="sub-name">Illustrations</p>
    </div>
</div>
<div class="header-banner">
    <h1 class="main-heading">Welcome</h1>
    <h3 class="sub-heading">Explore minimalistic illustrations</h3>
    <button class="explore">Explore</button>
</div>