@()



<div class="slide hi-slide">
    <div class="hi-prev "></div>
    <div class="hi-next "></div>
    <ul>
        <li><img src="/assets/images/slide-img-1.jpg" alt="Stop wearing Black because they're making more beautiful colors"></li>
        <li><img src="/assets/images/slide-img-2.jpg" alt="Killing Me Softly"></li>
        <li><img src="/assets/images/slide-img-3.jpg" alt="Little Miss India"></li>
        <li><img src="/assets/images/slide-img-4.jpg" alt="an ocean breeze puts a mind at ease"></li>
        <li><img src="/assets/images/slide-img-5.jpg" alt="blue jeans, pink shirt"></li>
        <li><img src="/assets/images/slide-img-6.jpg" alt="upside down"></li>
        <li><img src="/assets/images/slide-img-7.jpg" alt="if in doubt, drink tea"></li>
    </ul>
</div>
