@()

<header class="header">

    <nav class="first-nav">
        <ul class="first-nav-list">
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    BLOG
                </a>
            </li>
            <li class="first-nav-item dropdown-li">
                <a href="#products" class="first-nav-link">
                    SHOP
                </a>
            </li>
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    COMMISSION
                </a>
            </li>
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    ABOUT
                </a>
            </li>
            <li class="first-nav-item">
                <a href="/contact" class="first-nav-link">
                    CONTACT
                </a>
            </li>
        </ul>
    </nav>

</header>