@()

<header class="header">

    <nav class="first-nav">
        <ul class="first-nav-list">
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    Blog
                </a>
            </li>
            <li class="first-nav-item dropdown-li">
                <a href="#products" class="first-nav-link">
                    Shop
                </a>
            </li>
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    Comission
                </a>
            </li>
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    About
                </a>
            </li>
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    Contact Us
                </a>
            </li>
        </ul>
    </nav>

    <div class="logo">
        <img src="/assets/images/logo.png" class="logo-img">
    </div>

    <div class="heading">
        <h1 class="heading-text">Love Me Paris</h1>
    </div>
</header>