@()

<header class="header">

    <nav class="first-nav">
        <ul class="first-nav-list">
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    Blog
                </a>
            </li>
            <li class="first-nav-item dropdown-li">
                <a href="#products" class="first-nav-link">
                    Shop
                </a>
            </li>
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    Comission
                </a>
            </li>
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    About
                </a>
            </li>
            <li class="first-nav-item">
                <a href="#" class="first-nav-link">
                    Contact Us
                </a>
            </li>
        </ul>
    </nav>

</header>