@()


<input type="checkbox" id="check" class="checkbox" hidden/>
<div class="illustration-items">
    <label for="check" class="menu">
        <div class="item-line item-line-1"></div>
        <div class="item-line item-line-2"></div>
        <div class="item-line item-line-3"></div>
    </label>
</div>

<div class="navbar-navigation">
    <div class="navbar-navigation-left">
        <img src="/assets/images/v1/nav-img-1.jpg" class="left-img left-img-1"/>
        <img src="/assets/images/v1/nav-img-2.png" class="left-img left-img-2"/>
        <img src="/assets/images/v1/nav-img-3.png" class="left-img left-img-3"/>
    </div>

    <div class="navbar-navigation-right">
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="/" class="nav-list-link">Home</a>
            </li>
            <li class="nav-list-item">
                <a href="#about-us" class="nav-list-link nav-about-us">About Us</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-list-link">Gallery</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-list-link">Reservation</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-list-link">Services</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-list-link">Contact</a>
            </li>
        </ul>
    </div>
</div>