@()


<section id="products" class="products">
    <div class="products-heading">
        <h1 class="products-heading-text">Featured Illustrations</h1>
    </div>

    <div class="products-wrapper">
        <div class="product">
            <img src="/assets/images/product1.png" class="product-img">
            <div class="product-description">
                <h2 class="product-description-heading">
                    Where is the beach?
                </h2>
                <p class="product-description-price">
                    Price: <span>$150</span>
                </p>
                <a href="#" class="product-description-btn">
                    Buy Now
                </a>
            </div>
        </div>
        <div class="product">
            <img src="/assets/images/product2.png" class="product-img">
            <div class="product-description">
                <h2 class="product-description-heading">
                    why walk when you can dance... and hold on to someone
                </h2>
                <p class="product-description-price">
                    Price: <span>$100</span>
                </p>
                <a href="#" class="product-description-btn">
                    Buy Now
                </a>
            </div>
        </div>
        <div class="product">
            <img src="/assets/images/product3.png" class="product-img">
            <div class="product-description">
                <h2 class="product-description-heading">
                    Sunday Mood
                </h2>
                <p class="product-description-price">
                    Price: <span>$50</span>
                </p>
                <a href="#" class="product-description-btn">
                    Buy Now
                </a>
            </div>
        </div>
    </div>
    <div class="products-btn">
        <a href="#" class="btn">
            <div class="btn-bg"></div>
            <div class="arrow">
                <div class="arrow-line arrow-line-1"></div>
                <div class="arrow-line arrow-line-2"></div>
                <div class="arrow-line arrow-line-3"></div>
            </div>
            <span class="btn-text">See More</span>
        </a>
    </div>
</section>
